@page "/"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@using BlazorPos.Services
@inject OrderState OrderState


<PageTitle>Blazor POS</PageTitle>

<div class="main">
    <div class="add-product">
        <button type="button" class="btn btn-primary"
            @onclick="@(async () => await AddNewProduct())">
            New Product
        </button>
    </div>

    <ul class="product-cards">
        @if (products != null) {
            @foreach (var product in products) {
                <li @onclick="@(async () => await OpenProductDetails(product.ProductId))" 
                    style="background-color: rgb(149, 149, 255)">
                    <div class="container">
                        <div class="brand">
                            <h2>@product.Brand</h2>
                        </div>
                        <div class="product-description">
                            <strong>@product.Description</strong>
                        </div> 
                        <div class="price">
                            <p>$@product.Price.ToString("0.00")</p>
                        </div>
                    </div> 
                    <div class="select-button">
                        <button type="button" class="btn-primary"
                            @onclick="@(() => OrderState.SelectProduct(product))"
                            @onclick:stopPropagation>
                            Select
                        </button>
                    </div>
                </li>     
            }
        }  
    </ul>
</div>
<div class="cart">
    @if (order.Products.Any()) {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var selectedProduct in order.Products) {
                <div class="cart-item">
                    <div class="remove-button">
                        <button type="button" class="close text-danger" aria-label="Close"
                            @onclick="@(() => OrderState.RemoveProduct(selectedProduct))">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="selectedProduct-description">@selectedProduct.Description</div>
                    <div class="selectedProduct-price">
                        $@selectedProduct.Price.ToString("0.00")
                    </div>
                </div>
            }
        </div>
    }
    else {
        <div class="empty-cart">Choose a product<br>to get started</div>
    }

    <div class="order-total @(order.Products.Any() ? "" : "hidden")">
        <strong>Total:</strong>
        <span class="total-price">$@order.GetTotalPrice().ToString("0.00")</span>
        <div class="order-button">
            <a href="checkout" class="@(OrderState.Order.Products.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
                Order >
            </a>
        </div>    
    </div>
</div>


@code {
    List<Product> products = new();

    Order order => OrderState.Order;     

    protected override async Task OnInitializedAsync() {
        products = await HttpClient.GetFromJsonAsync<List<Product>>(NavigationManager.BaseUri + "api/products");
    }

    async Task OpenProductDetails(int productId) {
        NavigationManager.NavigateTo($"/products/{productId}");
    }

    async Task AddNewProduct() {
        NavigationManager.NavigateTo($"/products/new"); 
    }
}