@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

    <div class="form-field">
        <label>UPC:</label>
        <div>
            <InputText @bind-Value="Product.UPC" />
            <ValidationMessage For="@(() => Product.UPC)" />
        </div>
    </div>

    <div class="form-field">
        <label>EAN:</label>
        <div>
            <InputText @bind-Value="Product.EAN" />
            <ValidationMessage For="@(() => Product.EAN)" />
        </div>
    </div>

    <div class="form-field">
        <label>SKU:</label>
        <div>
            <InputText @bind-Value="Product.SKU" />
            <ValidationMessage For="@(() => Product.SKU)" />
        </div>
    </div>

    <div class="form-field">
        <label>Desciption:</label>
        <div>
            <InputText @bind-Value="Product.Description" />
            <ValidationMessage For="@(() => Product.Description)" />
        </div>
    </div>

    <div class="form-field">
        <label>Brand:</label>
        <div>
            <InputText @bind-Value="Product.Brand" />
            <ValidationMessage For="@(() => Product.Brand)" />
        </div>
    </div>

    <div class="form-field">
        <label>Vendor:</label>
        <div>
            <InputText @bind-Value="Product.Vendor" />
            <ValidationMessage For="@(() => Product.Vendor)" />
        </div>
    </div>

    <div class="form-field">
        <label>Price:</label>
        <div>
            <InputNumber @bind-Value="Product.Price" />
            <ValidationMessage For="@(() => Product.Price)" />
        </div>
    </div>

    <div class="form-field">
        <label>MSRP:</label>
        <div>
            <InputNumber @bind-Value="Product.MSRP" />
            <ValidationMessage For="@(() => Product.MSRP)" />
        </div>
    </div>

    <div class="form-field">
        <label>Online Price:</label>
        <div>
            <InputNumber @bind-Value="Product.OnlinePrice" />
            <ValidationMessage For="@(() => Product.OnlinePrice)" />
        </div>
    </div>

    <div class="form-field">
        <label>Default Cost:</label>
        <div>
            <InputNumber @bind-Value="Product.DefaultCost" />
            <ValidationMessage For="@(() => Product.DefaultCost)" />
        </div>
    </div>

    <div class="form-field">
        <label>Tax Class:</label>
        <div>
            <select class="custom-select" id="taxClassSelector" @bind="Product.TaxClassId" aria-label="Select Tax Class">
                @foreach (var taxClass in TaxClasses) {
                    <option value="@taxClass.Id">@taxClass.TaxClassName</option>
                }
            </select>
        </div>
    </div>


@code {
    [Parameter] public Product Product { get; set; }  

    public List<TaxClass> TaxClasses = new List<TaxClass>();

    protected override async Task OnInitializedAsync() {
        TaxClasses = await HttpClient.GetFromJsonAsync<List<TaxClass>>(NavigationManager.BaseUri + "api/settings/taxclasses");
    } 
}