@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

    <div class="form-field">
        <label for="upc">UPC:</label>
        <div>
            <InputText id="upc" name="upc" @bind-Value="Product.UPC" />
            <ValidationMessage For="@(() => Product.UPC)" />
        </div>
    </div>

    <div class="form-field">
        <label for="ean">EAN:</label>
        <div>
            <InputText id="ean" name="ean" @bind-Value="Product.EAN" />
            <ValidationMessage For="@(() => Product.EAN)" />
        </div>
    </div>

    <div class="form-field">
        <label for="sku">SKU:</label>
        <div>
            <InputText id="sku" name="sku" @bind-Value="Product.SKU" />
            <ValidationMessage For="@(() => Product.SKU)" />
        </div>
    </div>

    <div class="form-field">
        <label for="description">Desciption:</label>
        <div>
            <InputText id="description" name="description" @bind-Value="Product.Description" />
            <ValidationMessage For="@(() => Product.Description)" />
        </div>
    </div>

    <div class="form-field">
        <label for="brand">Brand:</label>
        <div>
            <InputText id="brand" name="brand" @bind-Value="Product.Brand" />
            <ValidationMessage For="@(() => Product.Brand)" />
        </div>
    </div>

    <div class="form-field">
        <label for="vendor">Vendor:</label>
        <div>
            <InputText id="vendor" name="vendor" @bind-Value="Product.Vendor" />
            <ValidationMessage For="@(() => Product.Vendor)" />
        </div>
    </div>

    <div class="form-field">
        <label for="price">Price:</label>
        <div>
            <InputNumber id="price" name="price" @bind-Value="Product.Price" />
            <ValidationMessage For="@(() => Product.Price)" />
        </div>
    </div>

    <div class="form-field">
        <label for="msrp">MSRP:</label>
        <div>
            <InputNumber id="msrp" name="msrp" @bind-Value="Product.MSRP" />
            <ValidationMessage For="@(() => Product.MSRP)" />
        </div>
    </div>

    <div class="form-field">
        <label for="onlinePrice">Online Price:</label>
        <div>
            <InputNumber id="onlinePrice" name="onlinePrice" @bind-Value="Product.OnlinePrice" />
            <ValidationMessage For="@(() => Product.OnlinePrice)" />
        </div>
    </div>

    <div class="form-field">
        <label for="defaultCost">Default Cost:</label>
        <div>
            <InputNumber id="defaultCost" name="defaultCost" @bind-Value="Product.DefaultCost" />
            <ValidationMessage For="@(() => Product.DefaultCost)" />
        </div>
    </div>

    <div class="form-field">
        <label for="taxClassSelector">Tax Class:</label>
        <div>
            <select class="custom-select" id="taxClassSelector" name="taxClassSelector" @bind="Product.TaxClassId">
                @foreach (var taxClass in TaxClasses) {
                    <option value="@taxClass.Id">@taxClass.TaxClassName</option>
                }
            </select>
        </div>
    </div>


@code {
    [Parameter] public Product Product { get; set; }  

    public List<TaxClass> TaxClasses = new List<TaxClass>();

    protected override async Task OnInitializedAsync() {
        TaxClasses = await HttpClient.GetFromJsonAsync<List<TaxClass>>(NavigationManager.BaseUri + "api/settings/taxclasses");
    } 
}