<div>
    <table class="table register-product-detail-table">
        <tbody>
            <tr>
                <h3>
                    <span aria-label="Brand Name">@SaleLine.Product.Brand</span>
                </h3>
            </tr>
            <tr>
                <h4>
                    <span aria-label="Product Description">@SaleLine.Product.Description</span>
                </h4>
            </tr>
            <tr>
                <td>
                    <label for="quantity">Qty:</label>
                    <InputNumber id="quantity" name="quantity" @bind-Value="SaleLine.Units" />
                    <ValidationMessage For="@(() => SaleLine.Units)" />
                </td>
                <td>
                    <label for="price">Price:</label>
                    <InputNumber id="price" name="price" @bind-Value="SaleLine.UnitSalePrice" />
                    <ValidationMessage For="@(() => SaleLine.UnitSalePrice)" />
                </td> 

                <td>
                    <label for="discount">Discount:</label>
                    <InputNumber id="discount" name="discount" @bind-Value="SaleLine.LineDiscount"/>%
                    <ValidationMessage For="@(() => SaleLine.LineDiscount)" />
                </td>

                <td>
                    <label for="applyTax">Tax:</label>
                    <InputSelect id="applytax" name="applyTax" @bind-Value="SaleLine.ApplyTax" aria-label="Select whether item is taxed.">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </InputSelect>
                </td>       
            </tr>

            <tr>
                <td>
                    <button type="button" class="btn btn-danger" aria-label="@($"Remove {SaleLine.Product.Description} from order")"
                        @onclick="@(() => RemoveProduct(SaleLine.ProductId))">
                        Remove
                    </button>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary" aria-label="Close product detail"
                        @onclick="@(() => CloseProductDetail())">
                        Done
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter] public SaleLine SaleLine { get; set; }

    [Parameter] public EventCallback<int> OnRemoveProduct { get; set; } 

    [Parameter] public EventCallback OnCloseProductDetail { get; set; }     

    public async Task RemoveProduct(int productId) {
        await OnRemoveProduct.InvokeAsync(productId);
    }   

    public async Task CloseProductDetail() {
        await OnCloseProductDetail.InvokeAsync();
    }        
}
