<div>
    @if (SaleLines != null && SaleLines.Any()) {
        <table class="table table-hover register-cart-table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Brand</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Line Subtotal</th>
                </tr>
            </thead>
            <tbody tabindex="0">
                @foreach (var line in SaleLines) {
                    <tr aria-label="@($"View product details for {line.Product.Brand} - {line.Product.Description}")"
                        role="button" tabindex="0" 
                        @onclick="() => OpenProductDetails(line)" @onkeydown="e => HandleKeyDown(e, line)">
                        <td>
                            <div class="register-remove-button">
                                <button type="button" class="oi oi-trash btn-danger" aria-label="Remove Item"
                                @onclick="@(() => RemoveProduct(line.ProductId))"
                                @onclick:preventDefault @onclick:stopPropagation
                                @onkeydown:stopPropagation></button>
                            </div>
                        </td>
                        <td>@line.Product.Brand</td>
                        <td>@line.Product.Description</td>
                        <td>@line.Units</td>
                        @if (line.LineDiscount > 0) {
                            <td><span style="text-decoration: line-through;">$@line.UnitSalePrice.ToString("0.00")</span> $@line.GetDiscountedUnitPrice().ToString("0.00")</td>
                        }
                        else {
                            <td>$@line.UnitSalePrice.ToString("0.00")</td>
                        }
                        <td>$@line.GetLineTotal().ToString("0.00")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter] public List<SaleLine> SaleLines { get; set; }

    [Parameter] public EventCallback<SaleLine> OnOpenProductDetails { get; set; }    

    [Parameter] public EventCallback<int> OnRemoveProduct { get; set; }

    public async Task OpenProductDetails(SaleLine line) {
        await OnOpenProductDetails.InvokeAsync(line);
    }

    public async Task RemoveProduct(int productId) {
        await OnRemoveProduct.InvokeAsync(productId);
    }  

    private void HandleKeyDown(KeyboardEventArgs e, SaleLine line) {
        if (e.Key == "Enter") {
            // Trigger the action when Enter or Space is pressed
            OpenProductDetails(line);
        }
    }  
}