<div>
    <table class="table register-product-detail-table">
        <tbody>
            <tr>
                <h3>@SaleLine.Product.Brand</h3>
            </tr>
            <tr>
                <h4>@SaleLine.Product.Description</h4>
            </tr>
            <tr>
                <td>
                    <label>Qty:</label>
                    <InputNumber @bind-Value="SaleLine.Units" />
                    <ValidationMessage For="@(() => SaleLine.Units)" />
                </td>
                <td>
                    <label>Price:</label>
                    <InputNumber @bind-Value="SaleLine.UnitSalePrice" />
                    <ValidationMessage For="@(() => SaleLine.UnitSalePrice)" />
                </td> 

                <td>
                    <label>Discount:</label>
                    <InputNumber @bind-Value="SaleLine.LineDiscount"/>%
                    <ValidationMessage For="@(() => SaleLine.LineDiscount)" />
                </td>

                <td>
                    <label>Tax:</label>
                    <InputSelect @bind-Value="SaleLine.ApplyTax">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </InputSelect>
                </td>       
            </tr>

            <tr>
                <td>
                    <button type="button" class="btn btn-danger" aria-label="Remove product from order"
                        @onclick="@(() => RemoveProduct(SaleLine.ProductId))">
                        Remove
                    </button>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary" aria-label="Close product detail"
                        @onclick="@(() => CloseProductDetail())">
                        Done
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter] public SaleLine SaleLine { get; set; }

    [Parameter] public EventCallback<int> OnRemoveProduct { get; set; } 

    [Parameter] public EventCallback OnCloseProductDetail { get; set; }     

    public async Task RemoveProduct(int productId) {
        await OnRemoveProduct.InvokeAsync(productId);
    }   

    public async Task CloseProductDetail() {
        await OnCloseProductDetail.InvokeAsync();
    }        
}
